.div1{
  background-color: #f2f2f2;
  height: 100px;
  width: 100px;
}

.div2{
  background-color: #f2f2f2;
  width: 300px;
  padding: 10px;
}

.span1{
  background-color: #f2f2f2;
}

.span2{
  background-color: #f2f2f2;
  padding: 30px;
}

.span3{
  background-color: #f2f2f2;
  margin: 30px;
}

.span4{
  background-color: #f2f2f2;
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 20px;
  padding: 100px;
}
